@media (min-width: 768px) {
  .short-description {
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  .logo-wrapper {
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
  }

  .short-description {
    max-width: 500px;
    padding-left: 60px;
  }
}

@media (min-width: 1200px) {
  .container-custom {
    max-width: 1000px;
  }

  .logo-wrapper {
    .logo img {
      width: auto;
    }
  }

  .short-description {
    max-width: 600px;
  }
}

@media (min-width: 1400px) {
  .short-description {
    max-width: 600px;
  }

  .submit {
    font-size: 20px;
  }

  .description {
    font-size: 20px;
  }

  .title {
    font-size: 32px;
  }
}
