@import 'vars';
@import 'fonts';
@import 'libs';

* {
  box-sizing: border-box;
}

a {
  color: $font-color;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

.fas,
.far {
  font-family: 'Font Awesome 5 Free';
  margin-right: 10px;
}

body {
  font-family: Gilroy;
  color: $font-color;
}

.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.animated-icon3 span {
  background-color: $font-color;
}

.scroll {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $active-color;
  .fas {
    margin: auto;
    color: #fff;
    font-size: 40px;
  }
}

.header {
  padding-top: 20px;
  height: 100vh;
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: 70%;
}

.navbar {
  width: 100%;
}

.navbar-toggler {
  border: none;
  &:focus {
    box-shadow: none;
  }
}

.navbar-nav {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.nav-item {
  position: relative;
}

.nav-link {
  color: $font-color;

  &:hover,
  &.active {
    color: $active-color;
  }
}

.item-active {
  position: absolute;
  right: 30%;
}

.logo-wrapper {
  text-align: right;
  .logo img {
    width: 80px;
  }
}

.phone-numbers {
  font-weight: 600;
  font-size: 18px;
}

.short-description {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}

.submit {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
  border-bottom-left-radius: 100%20px;
  border-bottom-right-radius: 100%20px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  background: $submit-gradient;
}

.description {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.our-projects {
  padding-bottom: 20px;
  text-align: center;
  background-color: #fff;

  .title {
    margin-bottom: 0;
  }
}

.wave-line {
  margin-bottom: 20px;
}

.owl-carousel {
  max-width: 1385px;
  margin: 0 auto;
  margin-bottom: 20px;
  div > img {
    width: 100vw;
  }
}

.owl-nav {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 20px;
  text-align: center;
}

.owl-prev,
.owl-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid $font-color;
  border-radius: 50%;
  font-weight: 300;
  font-size: 24px;
  color: $font-color;

  &:hover {
    background-color: $primary;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}

.owl-prev {
  margin-right: 20px;
}

.calculator {
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url('../images/calculator-bg.png');
  background-size: cover;
  text-align: center;

  .title {
    margin-bottom: 0;
  }

  .description {
    margin-bottom: 40px;
  }
}

.strong {
  color: #00497c;
}

.calculation-form {
  max-width: 580px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  margin-bottom: 40px;

  label {
    display: grid;
    grid-template-columns: 100px auto;
    text-align: left;
    margin-bottom: 23px;
    font-weight: 700;
  }

  select {
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 10px;
    box-shadow: inset 2px 2px 5px 1px rgb(238, 235, 232);
    font-weight: 500;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid $active-color;
    background: #fff;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
  }
}

.slidecontainer {
  display: grid;
  grid-template-columns: 100px auto 60px;
  margin-bottom: 23px;
  margin-top: -10px;
  text-align: left;
  font-weight: 700;
}

#myRange {
  display: inline-block;
  height: 6px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: inset 2px 2px 5px 1px rgb(238, 235, 232);
  vertical-align: middle;
}

.pool {
  width: 100%;
}

.range-value {
  margin-top: 2px;
  margin-left: 20px;
}

.goods {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  .submit {
    background: $primary;
  }
}

.goods-types {
  margin-bottom: 50px;
}

.goods-type {
  display: inline-block;
  line-height: 1.2rem;
  margin-right: 40px;
  border-bottom: 1px solid $font-color;

  &.active {
    color: $active-color;
    border: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    margin-right: 0;
  }
}

.goods-items {
  .owl-carousel {
    max-width: 100%;
    .owl-stage {
      display: flex;
      align-items: stretch;

      .owl-item > div {
        height: 100%;
      }
    }
  }
  position: relative;
  .owl-nav {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-60px);
    display: flex;
    justify-content: space-between;
    width: 100%;

    .owl-prev,
    .owl-next {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #fff;

      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }

    .owl-prev {
      left: 15px;
    }

    .owl-next {
      right: 15px;
    }
  }
}

.card {
  height: 100%;
  margin-left: 5px;
}

.benefit {
  padding-top: 120px;
  padding-bottom: 60px;
  background-image: url('../images/benefit-bg.png');
  background-size: cover;
  background-position: 55%;
  background-repeat: repeat;
  color: #fff;
  text-align: center;
  .container {
    position: relative;
  }

  .wave-line {
    margin-bottom: 40px;
  }
}

.leafs {
  position: absolute;
  top: -120px;
  right: -10px;
}

.benefit-item {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;

  img {
    margin-bottom: 10px;
    width: 50px;
  }
}

.questions {
  position: relative;
  height: 100vh;
  padding-bottom: 20px;
  background-image: url('../images/questions-bg.png');
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;

  .description {
    margin-bottom: 60px;
  }
}

.overlay-bg {
  position: absolute;
  z-index: 1;
  top: -80px;
  left: 0;
  width: 100%;
  text-align: center;
  & > img {
    width: 100%;
    height: 120px;
    margin-bottom: 40px;
  }
}

.client-contacts {
  input {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid rgba(#000, 0.2);
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px 1px rgb(238, 235, 232);
    margin-bottom: 20px;
  }
}

.form-control.required:invalid {
  background-color: #ffb8b8;

  &::placeholder {
    color: #e35d5d;
  }
}

.footer {
  position: relative;
  height: 50vh;
}

#map {
  width: 100%;
}

.contacts {
  position: absolute;
  top: 220px;
  left: 0;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

.contacts-title {
  margin-bottom: 20px;
  font-weight: 700px;
  font-size: 20px;
}

@import 'media';
