@import 'vars';
@import 'fonts';

* {
  box-sizing: border-box;
}

a {
  color: $font-color;
}

button {
  border: none;
  outline: none;
}

body {
  font-family: Gilroy;
  background-color: lightsteelblue;
  color: $font-color;
}

.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.animated-icon3 span {
  background-color: $font-color;
}

.header {
  padding-top: 20px;
  height: 100vh;
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: 70%;
}

.navbar {
  width: 100%;
}

.navbar-toggler {
  border: none;
  &:focus {
    box-shadow: none;
  }
}

.navbar-nav {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.nav-link {
  color: $font-color;

  &.active {
    color: $active-color;
  }
}

.logo-wrapper {
  text-align: right;
  .logo img {
    width: 80px;
  }
}

.phone-numbers {
  font-weight: 600;
  font-size: 18px;
}

.title {
  max-width: 350px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .description {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .submit {
    padding-top: 13px;
    padding-bottom: 18px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    background: $submit-gradient;
  }
}

@import 'media';
